servicekey = "dtbWOdJ%2FCz5HE0DGLU%2BCRPe7pOW0NIQBUcGEqsHZaTRiYCI%2F5%2BzugwzQjcvuId7NPdg6rUiW%2Bft3fm7yqyD4pw%3D%3D"
url = "http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson"

In [1]:
# openapi 라이브러리
import requests
from urllib import parse
import xmltodict
import pandas as pd

In [ ]:
# openapi를 이용해서 서버와 통신하여 데이터를 가져오는 작업

# 어느 api에 접속할지 url 변수를 생성
url = "http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson"

# 공공데이터포털에서 주소와 함계 보내야괴는 요청 변수

# 서비스키
service_key = "dtbWOdJ%2FCz5HE0DGLU%2BCRPe7pOW0NIQBUcGEqsHZaTRiYCI%2F5%2BzugwzQjcvuId7NPdg6rUiW%2Bft3fm7yqyD4pw%3D%3D"

param = {
    'serviceKey' : parse.unquote(service_key), # unquote는 문자열을 요청변수화 시키는 함수
    'pageNo' : '1', # 페이지 번호
    'numOfRows' : '5000', # 페이지당 데이터 수
    'startCreateDt' : '20220101', # 데이터의 시작 일자
    'endCreateDt' : '20230210' # 데이터의 마지막 일자
}

# 서버에게 요청
response = requests.get(url, params=param)
# response는 xml 형태의 데이터

# xml 데이터를 dict 형태로 변환
result = xmltodict.parse(response.content)

print(result)

In [9]:
# result의 결과 안에 response 안에 body 안에 items 안에 item의 데이터
rows = result['response']['body']['items']['item']

In [10]:
df = pd.DataFrame(rows)
df

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt
0,2023-02-10 04:22:09.0,33697,30325343,1159,20230210,00:00,2023-02-11 06:02:40.0,NaN
1,2023-02-09 00:13:08.0,33680,30311839,1158,20230209,00:00,2023-02-11 06:03:21.0,NaN
2,2023-02-08 00:10:49.0,33646,30297177,1157,20230208,00:00,2023-02-11 06:03:54.0,NaN
3,2023-02-07 04:25:43.0,33624,30279250,1156,20230207,00:00,2023-02-11 06:04:17.0,NaN
4,2023-02-06 04:20:35.0,33614,30263138,1155,20230206,00:00,2023-02-11 06:04:43.0,NaN
...,...,...,...,...,...,...,...,...
400,2022-01-05 09:01:59.247,5838,649661,749,20220105,00:00,2022-01-12 09:09:21.324,19778824
401,2022-01-04 09:04:35.476,5781,645220,748,20220104,00:00,2022-01-12 09:09:14.713,19671880
402,2022-01-03 08:58:35.591,5730,642199,747,20220103,00:00,2022-01-08 09:40:28.974,19546883
403,2022-01-02 08:57:24.688,5694,639074,746,20220102,00:00,2022-01-08 09:40:16.808,19456900
404,2022-01-01 09:02:39.218,5625,635243,745,20220101,00:00,2022-01-08 09:40:05.3,19364122

In [16]:
# pandas를 이용하여 csv로 파일 저장
df.to_csv("corona.csv", encoding='UTF-8')
# 상대경로 : "./csv/corona.csv" -> ./는 해당 코드가 있는 폴더, ../는 상위 폴더를 의미함
# 절대경로 : "C:\\Users\\ezen\\Desktop\\KMJ" (역슬레시는 두개씩)